---
import Chatbot from "../../features/chat/Chatbot.svelte";
import Card from "../../layouts/card.astro";
import Sidenav from "../../layouts/sidenav.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body style="background-size: cover;; background-image: url('../../../assets/chinese_themed_painting.png');">
        <Sidenav />
		<main class="" style="margin-left:55px">
            <Chatbot client:load/>	
		</main>
	</body>
</html>