---

---


  <div class="relative top-16">
    <iframe class="m-auto "
      title="Free AI Tools"
      width="1440"
      height="1024"
      src="https://app.powerbi.com/view?r=eyJrIjoiM2JkN2Q4Y2ItNGQzNy00YWExLTgxNTMtYTgzOTQ4NGM2NzQzIiwidCI6IjI1ZGE3N2JkLWE3NGUtNDcxOS1iNGNlLTQ5N2IwMDIwMGM0MyIsImMiOjN9pageName=ReportSection"
      allowfullscreen="false"></iframe>
      <div class="relative bottom-24 left-24 bg-gray-600 w-10/12 h-40">

      </div>
  </div>

<style>

</style>
