---
// Component Imports
import Quizzes from '../../features/quizzes/Quizzes';
import '../../styles/global.css';
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
import {TiHomeOutline } from "react-icons/ti/index";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body class="bg-gray-400">
		<main>
			<!-- <a href="/" class="fixed top-5 left-10">
				<button class="sidebar-icon group"><TiHomeOutline size="30" /></button>
			</a> -->
			<Quizzes client:visible/>		
		</main>
	</body>
</html>