---
import "../styles/global.css";
import Quiz from "../features/quizzes/Quiz";
---


<div class="container mx-auto">
  <div class=" mx-auto sm:w-full md:w-3/4 lg:w-1/2 border-2 rounded-md bg-gray-300 border-gray-700 shadow-xl py-5">
    <Quiz client:load/>
  </div>
</div>