---
import { TiPen, TiHomeOutline, TiCodeOutline, TiMessages } from "react-icons/ti/index";
import "../styles/global.css"
---

<div>
  <div
    class="fixed top-0 left-0 h-screen w-16 m-0 flex flex-col bg-gray-900 shadow-lg text-white"
  >
    <a href="/" class="mt-4 mx-auto">
      <button class="sidebar-icon group"><TiHomeOutline size="30" /></button>
    </a>
    <a href="/cosmetology/quizzes" class="mt-4 mx-auto">
      <button class="sidebar-icon group"><TiPen size="30" /></button>
    </a>
    <a class="mt-4 mx-auto" href="/cosmetology/parser">
      <button class="sidebar-icon group"> <TiCodeOutline size="30" /></button>
    </a>
    <a class="mt-4 mx-auto" href="/chat/sandbox">
      <button class="sidebar-icon group"> <TiMessages size="30" /></button>
    </a>
  </div>

</div>
