---
import {AiOutlineRedEnvelope} from 'react-icons/ai/index.js'
---

<div class="fixed-horizonal-centered w-20 h-20 rounded-full animate-spin border border-solid border-yellow-500 border-t-transparent bg-red-500 flex items-center justify-center">
  <AiOutlineRedEnvelope className="text-orange-300" size="50" />
</div>